{% extends "index.html" %}

{% block title %}Register{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../static/css/register_and_login.css">
    <link rel="stylesheet" href="../../static/css/visitor/home.css">
{% endblock %}

{% block content %}
    <div class="container card text-center">
        <form action="" method="post" class="was-validated">
            <div class="row">
                <div class="mb-3">
                    {{ form.email(class="form-control", required="required", placeholder=form.email.label.text)|safe }}
                    {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.password(class="form-control", required="required", placeholder=form.password.label.text)|safe }}
                    {% if form.password.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.confirm(class="form-control", required="required", placeholder=form.confirm.label.text)|safe }}
                    {% if form.confirm.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.confirm.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.first_name(class="form-control", required="required", placeholder=form.first_name.label.text)|safe }}
                    {% if form.first_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.last_name(class="form-control", required="required", placeholder=form.last_name.label.text)|safe }}
                    {% if form.last_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="container text-center mt-3">
                <div class="form-check mb-3">
                    {{ form.adulthood_statement(class="form-check-input", required="required", type="checkbox")|safe }}
                    {{ form.adulthood_statement.label(class="form-check-label")|safe }}
                    {% if form.adulthood_statement.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.adulthood_statement.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <input class="cate-button" type="submit" value="Register">
            </div>
        </form>
        <div class="row">
            <div class="text-body-secondary">
                <div class="row mt-3">
                    <p>
                        Already have an account? <a href="{{ url_for('login') }}">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/register_and_login.js') }}"></script>
{% endblock %}