{% extends "dashboard/index.html" %}
{% block title %}Staff{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h3 class="text-center mb-0">Staff Management</h3><br>
    <form method="post" action="{{ url_for('staff') }}" class="row g-3 align-items-end">
        <div class="col-md-3 text-start">
            <label for="first_name" class="form-label">First Name:</label>
            <input class="form-control" type="text" id="search_first__name" name="first_name" value="{{ first_name }}">
        </div>
        <div class="col-md-3 text-start">
            <label for="last_name" class="form-label">First Name:</label>
            <input class="form-control" type="text" id="search_last__name" name="last_name" value="{{ last_name }}">
        </div>
        {% if session['role'] == 'nmgr' or session['role'] == 'admin' %}
        <div class="col-md-3  text-start">
            <label for="store_id" class="form-label">Store:</label>
            <select class="form-control" id="store_id" name="store_id">
                <option value="" {% if not store_id %} selected {% endif %}>All Stores:</option>
                {% for store in store_list %}
                <option value="{{ store.store_id | string }}" {% if store_id==(store.store_id | string) %} selected {%
                    endif %}>{{ store.store_name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" style="background: none; border: none;"
                data-placement="top" title="Search"><i class="fas fa-search main-color mx-1"></i></button>

            <a id="addStaff" class="btn ms-0" data-toggle="tooltip" data-placement="top" title="Add Staff"
                data-bs-toggle="modal" data-bs-target="#staffModal" onclick="openModal()">
                <i class="fas fa-plus-circle main-color mx-1"></i>
            </a>
        </div>
    </form>
    <hr>
    <div style="height: 420px; overflow-y: auto;">
        <table id="staff_list" class="table table-advance table-hover">
            <thead style="position: sticky;top: 0;z-index: 999;">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Store</th>
                    <th>Phone</th>
                    <th>Position</th>
                    <th>Is Active</th>
                    {% if session['role'] != 'staff' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if staff_list %}
                {% for staff in staff_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ staff.first_name }}</td>
                    <td>{{ staff.last_name }}</td>
                    <td class="store">{{ staff.store_name }}</td>
                    <td class="storeid" style="display: none;">{{ staff.store_id }}</td>
                    <td>{{ staff.phone }}</td>
                    <td>{{ staff.position }}</td>
                    <td>{{ 'Active' if staff.is_active == 1 else 'Inactive' }}</td>
                    {% if session['role'] != 'staff' %}
                    <td>
                        <a type="button" data-toggle="tooltip" data-placement="top" href="#" title="Edit"
                            data-bs-toggle="modal" data-bs-target="#staffModal" onclick="openModal('{{ staff.staff_id }}', '{{ staff.user_id }}',
                            '{{ staff.first_name }}', '{{ staff.last_name }}', '{{ staff.phone }}', '{{ staff.position }}', 
                            '{{ staff.email }}','{{ staff.role }}','{{ staff.store_id }}', '{{ staff.is_active }}', '{{ staff.store_name }}')">
                            <i class="far fa-edit main-color mx-1"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9" class="text-center">There is no data to be showed.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<!-- Edit/Add Modal -->
<div class="modal fade" id="staffModal" tabindex="-1" aria-labelledby="staffModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #c51616;">
                <h5 class="modal-title" id="staffModalLabel" style="color: #FFFFFF;">Manage Staff</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="refleshpage()"></button>
            </div>
            <div class="modal-body">
                <form id="staffForm" action="#" method="POST">
                    <div class="mb-3 text-start">
                        <label for="email" class="form-label ">Email</label>
                        <input type="email" class="form-control" id="form_email" name="email" required>
                        <div id="server_error" class="invalid-feedback">
                            Please Enter Valid Email! Email is as login account!
                        </div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="role" class="form-label ">Role</label>
                        <select class="form-control"  id="form_role" name="role" required>
                            <option value="staff">Staff</option>
                            <option value="lmgr">Local Manager</option>
                            {% if session['role'] == 'nmgr' or session['role'] == 'admin' %}
                            <option value="nmgr">National Manager</option>
                            {% if session['role'] == 'admin' %}
                            <option value="admin">Admin</option>
                            {% endif %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="store_id" class="form-label">Store:</label>
                        {% if session['role'] == 'nmgr' or session['role'] == 'admin' %}
                        <select class="form-control" id="form_store_id" name="store_id">
                            <option value="" {% if not store_id %} selected {% endif %}>Select A Store:</option>
                            {% for store in store_list %}
                            <option value="{{ store.store_id | string }}" {% if store_id==(store.store_id | string) %}
                                selected {% endif %}>{{ store.store_name }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input type="hidden" class="form-control" id="form_store_id" name="store_id">
                        <input type="text" class="form-control" id="form_store_name" readonly >
                        {% endif %}
                    </div>
                    <div class="mb-3 text-start">
                        <label for="first_name" class="form-label ">First Name</label>
                        <input type="text" class="form-control" id="form_first_name" name="first_name">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="last_name" class="form-label ">Last Name</label>
                        <input type="text" class="form-control" id="form_last_name" name="last_name" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="phone" class="form-control" id="form_phone" name="phone">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="position" class="form-label">Position</label>
                        <input type="position" class="form-control" id="form_position" name="position">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-control" id="form_status" name="status" required>
                            <option value="1" selected>Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <input type="hidden" name="staff_id" id="form_staff_id">
                    <input type="hidden" name="user_id" id="form_user_id">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="refleshpage()">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="confirmSaveBtn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function openModal(staff_id = '', user_id = '', first_name = '', last_name = '', phone = '', position = '', email = '', role = '', store_id = '', status = '', store_name= '') {
        document.getElementById('form_staff_id').value = staff_id;
        document.getElementById('form_user_id').value = user_id;
        document.getElementById('form_first_name').value = first_name;
        document.getElementById('form_last_name').value = last_name;
        document.getElementById('form_phone').value = phone;
        document.getElementById('form_position').value = position;
        document.getElementById('form_email').value = email;
        document.getElementById('form_email').readOnly = true;
        if (email === "") {
            document.getElementById('form_email').removeAttribute('readonly');
        } 
        document.getElementById('form_role').value = role === '' ? 'staff' : role;
       
        document.getElementById('form_status').value = status === '' ? '1' : status;
        if (store_name === "" || store_id === "" ) {
            store_name = document.querySelector('.store').textContent;
            store_id = document.querySelector('.storeid').textContent;
        } 
        document.getElementById('form_store_id').value = store_id;
        document.getElementById('form_store_name').value = store_name;
        $('#staffModal').modal('show');
    }


    document.getElementById('staffForm').addEventListener('submit', function (event) {
        event.preventDefault();
        // Get the form data
        var formData = new FormData(this);
        if (validateForm()) {
            fetch('/manage_staff', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $('#staffModal').modal('hide');
                        window.location.href = '/staff';
                    } else {
                        $('#server_error').text(data.message).show();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);

                });
        }

    });
    function validateForm() {
        var isValid = true;

        var last_name = document.getElementById('form_last_name').value;
        if (last_name === "") {
            isValid = false;
            document.getElementById('form_last_name').classList.add('is-invalid');
        } else {
            document.getElementById('form_last_name').classList.remove('is-invalid');
        }

        return isValid;
    }

    function refleshpage() {
        window.location.reload(); // Reload the current page
    }
</script>
{% endblock %}